<p style="color: green"><%= notice %></p>

<div class="top-question">
  <h1>Top Questions</h1>
  <%= link_to "New question", new_question_path %>
</div>
<div id="questions">
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
</div>

